body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #484848;
    font-family: 'Arial', sans-serif;
    font-size: large;
    margin: 0;
}

.display {
     width: 485px;
     height: 20px;
     text-align: right;
     font-size: 1.5rem;
     padding: 10px;
     margin-bottom: 20px;
     border: none;
     background-color: #ffeb3b;
     border-radius: 8px;
     color: #333;
     font-family: 'Arial', sans-serif;
 }

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #e0e0e0;
    flex: 1;
    width: 95%;
}

.button {
    cursor: pointer;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5%;
}

.button.operator {
    background-color: #ff9500;
    color: #fff;
}

.button.equal {
    background-color: #007aff;
    color: #fff;
}

.button:hover {
    background-color: #d0d0d0;
}

.button.operator:hover {
    background-color: #ff7f00;
}

.button.equal:hover {
    background-color: #0060c0;
}

.button.clear {
    background-color: #ff3b30;
    color: #fff;
}

.button.clear:hover {
    background-color: #ff1f1f;
}
